extends layout

block content
  div.box
    br
    br
    iframe( src="https://giphy.com/embed/3oEduZIOSFVqyOW0ow" width="480" height="360" frameBorder="0" class="giphy-embed")
    h1= title
    h1= message
    br
    br
